.container {
  color: #ffffff !important;
  /* background-color: #d6932c !important; */
}
li a {
  display: flex;
  justify-content: center;
  color: #ffffff !important;
}
.navbar {
  justify-content: space-evenly !important;
  /* color: black !important; */
}
